{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">

                <h1>Blog</h1>
                <p>Bienvenue sur mon blog</p>

                {% for category in categories %}

                    <div class="col-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">{{ category.name }}</h2>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{ path('categories_list', {slug: category.slug} ) }}" class="btn btn-primary">Consulter</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                
        </section>
    </main>   
    
{% endblock %}
